.header-top {
	background: #e54242;
}
#main-menu ul li a:hover {
	background: #e54242;
}
#main-menu .dropdown-menu a:hover {
	background: #e54242;
}
.bloq-search input[type="text"] {
	border: 1px solid #e54242;
}
.bloq-search input[type="submit"] {
	background: #e54242;
}
.google-maps .filter {
	background: #e54242;
}
.section-title:before {
	background-color: #e54242;
}
.section-title h2 {
	color: #e54242;
}
.recently .homes-content .homes-list li {
	color: #e54242;
}
.recently .homes-content .homes-list li i {
	color: #e54242;
}
.welcome-title h2 span,
.welcome-title h2 span {
	color: #e54242;
}
.welcome .popup-youtube {
	color: #e54242;
}
.welcome .wprt-image-video .iq-waves .waves {
	background: rgb(229, 66, 66) none repeat scroll 0 0 padding-box;
}
.services-home .bg-base {
	background: #e54242;
}
.services-home a.text-base {
	color: #e54242;
}
.portfolio .homes-content .homes-list li {
	color: #e54242;
}
.portfolio .homes-content .homes-list li i {
	color: #e54242;
}
.top-location .owl-theme .owl-nav [class*=owl-] {
	background: #e54242;
}
.blog-section .news-item a:hover h3 {
	color: #e54242;
}
.blog-section .news-link {
	color: #e54242;
}
.testimonials .test-1 p::before {
	color: #e54242;
}
.testimonials .test-1 h3 {
	color: #e54242;
}
.owl-dot.active {
	background: #e54242 !important;
}
.counterup .countr .fa {
	color: #e54242;
}
.realhome_subscribe input {
	border-color: #e54242;
}
.realhome_form_subscribe button {
	background: #e54242;
	border: 2px solid #e54242;
}
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
	background-color: #e54242;
}
.first-footer .btn {
	background: #e54242;
}
.first-footer .btn:hover {
	background: transparent;
}
.navigation ul li a:hover {
	color: #e54242;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
	color: #e54242;
}
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
	color: #e54242;
}
.second-footer {
	background: #e54242;
}
.go-up {
	background: #e54242;
}
.main-search-field {
	background: #e54242;
}
.btn-default.btn-theme-colored2:hover {
	background: #e54242;
}
.text-theme-colored2 {
	color: #e54242 !important;
}
.btn-dark.btn-theme-colored {
	background-color: #e54242;
}
.parallax-search .form-group .nice-select:hover {
	color: #e54242;
}
.parallax-search .form-group .nice-select i {
	color: #e54242;
}
.parallax-search .form-group .list li:hover {
	background: #e54242;
}
.parallax-search .form-group .btn {
	background: #e54242;
}
.inner-pages .blog .active-view-btn:hover {
	background: #e54242 !important;
}
.inner-pages .change-view-btn:hover {
	color: #e54242 !important;
}
.inner-pages .blog .block-heading .change-view-btn.lde:hover {
	background: #e54242;
}
.inner-pages .blog .section-heading .media .media-left i {
	background: #e54242;
}
.inner-pages .blog .main-search-field select {
	background: #e54242;
}
.inner-pages .blog .at-input {
	border: 2px solid #e54242;
}
.inner-pages .blog .ui-widget.ui-widget-content {
	background: #e54242;
}
.inner-pages .blog .hvr-bounce-to-right {
	background: #e54242;
}
.inner-pages .widget h5::after {
	background-color: #e54242;
}
.inner-pages .portfolio .footer i {
	color: #e54242;
}
.inner-pages .recent-post .tags a:hover {
	color: #e54242;
	border-color: #e54242;
}
.page-item.active .page-link {
    background: #e54242;
    border-color: #e54242;
}
.page-link {
    color: #e54242;
}
.inner-pages .blog .homes-content.details-2 .fa {
	color: #e54242;
}
.inner-pages .blog .sorting-options h5 {
	color: #e54242;
}
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
	color: #e54242;
	background-color: #e54242;
}
.inner-pages .blog .homes-content.details .fa {
	color: #e54242;
}
.inner-pages .button.alt {
	background-color: #e54242;
}
.inner-pages .agent-details a:hover {
	color: #e54242;
}
.inner-pages .agent-details .fa {
	color: #e54242;
}
.inner-pages .about-us .who-1 h2 span {
	color: #e54242;
}
.inner-pages .about-us .wprt-image-video .icon-wrap {
	background-color: #e54242;
}
.bg-2 .button {
    border-color: #e54242;
}
.inner-pages .panel .panel-heading a {
	background: #e54242;
}
.plan-price {
	background: #e54242;
}
.plan-price:after {
	border-top-color: #e54242;
}
.plan a.btn {
	background: #e54242;
}
.inner-pages .top-headings h2 {
	color: #e54242;
}
.inner-pages .port-info .btn {
	background: #e54242;
	border: 1px solid #e54242;
}
#login .btn_1, a.btn_1 {
    background: #e54242;
}
.inner-pages .blog .social .date {
	background-color: #e54242;
}
.blog-pots figure {
	background: #e54242;
}
.blog .blog-pots .fa {
	color: #e54242;
}
.btn-secondary {
	background: #e54242;
}
.single-blog-post .img-box .overlay {
	background: rgba(229, 66, 66, 0.8);
}
.inner-pages .form-control {
	border: 1px solid #e54242;
}
.inner-pages .input-group-btn .btn-primary {
	background: #e54242;
	border: 1px solid #e54242;
}
.inner-pages .input-group-btn .btn-primary:hover {
	color: #e54242;
}
.inner-pages .comments-info h5 {
	color: #e54242;
}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
	background-color: #e54242;
}
.inner-pages .leve-comments .btn {
	background: #e54242;
	border: 1px solid #e54242;
}
.inner-pages .leve-comments .btn:hover {
	border: 1px solid #e54242;
}
.inner-pages .contact-us .btn {
	background: #e54242;
	border: 1px solid #e54242;
}
.inner-pages .contact-us .btn:hover {
	border: 1px solid #e54242;
}
.inner-pages .call-info h3::after {
	background-color: #e54242;
}
.inner-pages .call-info ul li .fa {
	color: #e54242;
}
.inner-pages .single-add-property > h3 {
	color: #e54242;
}
.inner-pages .prperty-submit-button > button {
	background: #e54242 none repeat scroll 0 0;
}
.leaflet-div-icon, .map-marker {
	background-color: #e54242;
	border: 5px solid #e54242;
}
.leaflet-div-icon:before, .map-marker:before {
	border-top-color: #e54242;
}
.listing-window-image:before {
	background-color: #e54242;
}
.listing-window-content h3 {
	background-color: #e54242;
}
section.pricing-table {
    padding: 6rem 0;
    background: #fff;
}